/* Slider */
.customer-logos{
    margin:20px 0px;
}

.slick-slide img {
    width: 100%;
}

.slick-slider
{
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
            user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;
    display: block;
}
.slick-track:before,
.slick-track:after
{
    display: table;
    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;
    height: auto;
    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}
.main-data-about-what-do{
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.main-data-about-what-do h2{
    font-weight: bold;
    color:#a4c639   ;
}
.main-data-about-what-do img {
    text-align: center;
    padding:40px;
}
.main-data-about-what-do > * {
  margin: 12px 0 0 12px;
  flex: 0 1 23%;
}
.what-do-with-image {
    border: 1px solid black;
    padding: 19px;
    border-radius: 16px;
}

.happy-client-section{
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width:100%;
    margin: 20px 0px ;
}
.happy-client-section > * {
  margin: 12px 0 0 12px;
  flex: 0 1 32%;
  text-align: center;
}
.happy-client-section h2{
    font-weight: bold;
    color:#a4c639   ;
}
.happy-client-section img {
    text-align: center;
    padding:40px;
}
.about-us-info-logos{
    display: flex;
    justify-content: space-between;
    margin: 20px 0px;
}
.about-us-info-logos-1,.about-us-info-logos-2,.about-us-info-logos-3{
    flex: 0 1 30%;
    width: 30%;
    max-width:30%;
}
.about-us-info-logos-1 img,.about-us-info-logos-2 img,.about-us-info-logos-3 img{
    width: 320px;
    height: 320px
}
@media screen and (max-width: 1100px) {
    .main-data-about-what-do > * {
      flex: 0 1 48%;    
    }   
}

@media screen and (max-width: 768px) {
    .main-data-about-what-do > * {
      flex: 0 1 95%;    
    }   
}